
/* Color : 

aqua, cyan, darkturquoise, lightcyan, mediumaquamarine, aquamarine, paleturquoise, turquoise,
black, dimgray, gray, darkgray, lightgray, gainsboro, silver, whitesmoke,
blue, dodgerblue, deepskyblue, cornflowerblue, steelblue, royalblue, mediumblue, midnightblue,
fuchsia, magenta, mediumvioletred, violet, blueviolet, darkviolet, darkorchid, orchid,
green, mediumseagreen, seagreen, forestgreen, greenyellow, limegreen, lime, lawngreen,
maroon, brown, saddlebrown, peru, chocolate, darkgoldenrod, goldenrod, tan,
navy, darkblue, mediumslateblue, slateblue,
olive, darkolivegreen, olive, olivedrab,
orange, darkorange, coral, tomato, orangered,
purple, indigo, slategray, darkslategray, mediumslateblue, darkslateblue, blueviolet, darkviolet,
red, crimson, firebrick, brown, darkred, maroon, darkred, indianred, rosybrown,
teal, darkcyan, cyan, lightseagreen, mediumturquoise, turquoise, darkturquoise,
white, snow, whitesmoke, floralwhite, ivory, aliceblue, azure, honeydew,
yellow, gold, yellowgreen, khaki, darkkhaki, palegoldenrod, lightgoldenrodyellow, lightyellow.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
    color: black;
    line-height: 1.2;
    font-weight: 600; 
}

a,a:active,a:focus,a:hover {
    color: #252525;
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    outline: none;
    font-weight: 500; }

li {
    list-style: none; 
}

p {
    line-height: 1.8;
    color: black;
    font-size: 6px;
    font-weight: 400; 
}

img {
    width: 100%;
    height: auto; 
}

ul {
    margin: 0;
    padding: 0; 
}

ul li {
    margin: 0;
    padding: 0; 
}

.bg-overlay {
    position: relative;
    z-index: 1; 
}

.bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-img {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; 
}

.header {
    position: relative;
    z-index: 1;
    background-color: firebrick; 
}

.header * {
    box-sizing: border-box; 
}

.navbar a {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    color: azure;
    display: inline-block; 
}

.nav a:hover, .nav a:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    font-size: 20px;
    color: azure; 
}

.navbar {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; 
}

.navbar .nav-brand {
    font-size: 25px;
    font-weight: 600;
    color: azure;
    display: inline-block;
    margin-left: 30px;
}

.navbar .nav-brand:after {
    content: "";
    width: 5px;
    height: 5px;
    margin-left: 5px;
    background: coral;
    display: inline-block;
    vertical-align: unset;
}

.navbar .nav-brand:focus, .navbar .nav-brand:hover {
    font-size: 25px;
    font-weight: 500; 
}

.navbar .menu {
    margin-left: 600px;  
}

.nav ul li {
    display: inline-block;
    clear: both;
    position: inherit;
    z-index: 10; 
}

.nav ul li a {
    padding: 0 15px;
    display: block;
    font-size: 14px;
    line-height: 40px;
}

/* Hero Styling */
.hero {
    position: relative;
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(220, 20, 60, 0.8),rgba(255, 127, 80, 0.8));
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.chevron-wrap {
 
}


.chevron-btn {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10%; /* 원하는 위치 조절 */
    bottom: 0%; /* 히어로 섹션의 상단에서 세로 중앙 정렬 */
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .radio-line {
    background-color: rgb(255, 0, 0,0.6);
}

.radio-line {
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: rgb(255, 255, 255,0.6);
    position: relative;
    margin-right: 5px;
    caret-color: transparent;
}

.btn-wrap > div {
    display: none;
    margin: 20px;
    height: 20px;
    text-align: center;
    user-select: none;
}

.btn-wrap > div.active {
    display: block;
}













/* Footer Styling */
.footer {
    background-image: linear-gradient(to bottom, tomato, firebrick);
}

.footer .footer_profile-box, .footer .social-icons {
    display: flex;
    position: relative;
    align-items: center; 
    justify-content: center;
}

.footer .footer_profile {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .footer_profile img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.footer .footer_profile img:hover {
    transform: scale(1.1);
}

.footer_profile-box .ballon {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    left: calc(50% + 50px);
    bottom: calc(90% - 50px);
    background: rgb(255, 255, 255,0.9);
    color: black;
    text-align: center;
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 볼드체 */
    border-radius: 5px;
    padding: 12px 12.8px;
}

.footer_profile-box:hover .ballon {
    display: block;
}

/* Social Styling */
.footer .social-icon-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 90%;
    background: linear-gradient(to bottom right, indigo, red );
    display: inline-block; 
}

.footer .social-icons div:hover {
    transform: rotate(15deg);
    
}

.social-icon-box img {
    opacity: 0.7;
    filter: brightness(0) invert(1);
    transition: opacity 0.3s ease;
}

.social-icons img:hover {
    opacity: 1;
}

/* Copyright Styling */
.copyright {
    background-color: firebrick;
    padding: 10px;
}

.copyright p {
    margin: 0;
    text-align: center;
    color: azure;
    font-size: 16px;
}
