/* :: 7.0 Header CSS */

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    @include transition-duration(500ms);
    background-color: transparent;
}

.nav-container {
    background-color: transparent;
    padding: 0;

    .navbar {
        @include transition-duration(500ms);
        height: 70px;
        padding: 0;

        .nav-brand {
            @media #{$breakpoint-xs} {
                // max-width: 90px;
                margin-right: 15px;
            }
        }

        .nav ul li {
            a {
                font-size: 16px;
                text-transform: capitalize;
                color: $white;
                font-weight: 500;
                padding: 0 20px;

                &:hover,
                &:focus {
                    color: $hover;
                }

                @media #{$breakpoint-lg} {
                    font-size: 14px;
                }

                @media #{$breakpoint-md} {
                    font-size: 14px;
                    color: $heading;

                    &:hover,
                    &:focus {
                        color: $hover;
                    }
                }

                @media #{$breakpoint-xs} {
                    font-size: 14px;
                    color: $heading;

                    &:hover,
                    &:focus {
                        color: $hover;
                    }
                }
            }

            &.cn-dropdown-item,
            &.megamenu-item {
                ul li {
                    a {
                        font-size: 14px;
                        text-transform: capitalize;
                        height: 42px;
                        line-height: 42px;
                        padding: 0 30px;
                        color: $heading;

                        &:focus,
                        &:hover {
                            color: $hover;
                        }
                    }
                }
            }
        }
    }
}

.nav ul li {
    &.active {
        a {
            position: relative;
            z-index: 1;

            &::before {
                width: calc(100% - 40px);
                height: 2px;
                background-color: $primary;
                position: absolute;
                bottom: 7px;
                left: 0;
                z-index: 1;
                content: '';
                left: 50%;
                transform: translateX(-50%);

                @media #{$breakpoint-md} {
                    display: none;
                }

                @media #{$breakpoint-xs} {
                    display: none;
                }
            }
        }
    }
}

.nav ul li.has-down > a::after,
.nav ul li.has-down.active > a::after,
.nav ul li.megamenu-item > a::after {
    color: $primary;
}

.breakpoint-off .classynav ul li .dropdown,
.breakpoint-off .classynav ul li .megamenu {
    width: 210px;
    @include box-shadow($box-shadow);
    border-radius: 6px;
}

.breakpoint-off .classynav ul li .megamenu {
    width: 100%;
}

.navbar-toggler .navbarToggler span {
    background-color: $heading;
}

.main-header {
    position: relative;
    z-index: 1;
    background-color: transparent;
    @include transition-duration(500ms);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);

    &.sticky {
        background-color: $dark;
    }
}

.navbar-toggler .navbarToggler span {
    background-color: $white;
}