<section class="about" id="about">
    <h2 class="heading">About <span>Me</span></h2>
    <div class="container">
        <div class="about-img">
            <div class="film-photo">
                <img src="assets/img/shiwoo.jpg" alt="shiwoo">
            </div>
        </div>
        <div class="about-content">
            <h1>I'm Shiwoo. Min</h1>
            <h3>DevOps Engineer & Full Stack Developer</h3>
            <ol>
                <li>🥰 I’m Shiwoo, gradually advancing on the path of a DevOps Engineer and Backend Developer.</li>
                <li>🎯 Long-term goals: I aim to grow into an IT specialist, working hand-in-hand with my company and teammates, sharing both challenges and achievements.</li>
                <li>💡 Always seeking learning opportunities 
                    <span class="tag tag-red">#Developer</span>
                    <span class="tag tag-orange">#Data Analysis</span>
                    <span class="tag tag-yellow">#Cloud</span>
                    <span class="tag tag-green">#Project</span>
                    <span class="tag tag-blue">#Degree</span>
                    <span class="tag tag-purple">#Lecture</span>
                </li>
                <li>🚀 Based in Seoul, my hobbies include hiking, cycling, reading and studying for certifications.</li>
                <li>💓 If you would like to know more about me, please click here<span class="arrow">⬇️</span></li>
            </ol>
            <div class="social-tags">
                <div class="social-tag-box"><a href="https://github.com/shiverlog"><img src="https://simpleicons.org/icons/github.svg" alt="GitHub">Github</a></div>
                <div class="social-tag-box"><a href="https://gitlab.com/shiverlog"><img src="https://simpleicons.org/icons/gitlab.svg" alt="GitLab">Gitlab</a></div>                    
                <div class="social-tag-box"><a href="https://www.notion.so/Shiwoo-s-Dev-Study-Blog-76408d47c8694cd8b144b72b32a76159?cookie_sync_completed=true"><img src="https://simpleicons.org/icons/notion.svg" alt="Notion">Notion</a></div>
                <div class="social-tag-box"><a href="https://instagram.com/shiverlog"><img src="https://simpleicons.org/icons/instagram.svg" alt="Instagram">Instagram</a></div>
                <div class="social-tag-box"><a href="https://www.linkedin.com/in/shiverlog"><img src="https://simpleicons.org/icons/linkedin.svg" alt="LinkedIn">LinkIn</a></div>
                <div class="social-tag-box"><a href="https://drive.google.com/drive/folders/1tQgD5JNzY9kCSDqrbTgIbHAd0UyJlpI7" target="_blank"><img src="https://simpleicons.org/icons/googledrive.svg" alt="Google Drive">Drive</a></div>
                <div class="social-tag-box"><a href="https://drive.google.com/drive/folders/1tQgD5JNzY9kCSDqrbTgIbHAd0UyJlpI7" target="_blank"><img src="https://simpleicons.org/icons/readme.svg" alt="Resume">Resume</a></div>
                <div class="social-tag-box"><a href="mailto:shiverlog@gmail.com"><img src="https://simpleicons.org/icons/gmail.svg" alt="Gmail">#Gmail</a></div>
            </div>
        </div>
    </div>
</section>