<div class="contact" id="contact">
    <div class="container">
        
    </div>
    <div class="map-area section-padding-0-80">
        <div class="container">
            <div clase="map">
                <p>Uam-ro, Dong-gu, Daejeon, Republic of Korea</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15863.306481508482!2d127.4544644!3d36.3508582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35654865afaae0db%3A0x3fe8bede8780ef21!2z6rWt7ZqM7J2Y7IKs64u57Jet!5e0!3m2!1sko!2skr!4v1673182992991!5m2!1sko!2skr" 
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
