<section class="education" id="education">
    <h1 class="heading">My <span>Education</span></h1>
    <div class="container">
        <div class="box">
            <div class="box-image">
                <img draggable="false" src="./assets/images/educat/college.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bachelor of Engineering in Information Technology</h3>
                <p>Zeal College of engineering and research | SPPU</p>
                <h4>2020-2024 | Pursuing</h4>
            </div>
        </div>
    </div>
</section>