<footer class="footer">
    <div class="footer_profile-box">
        <picture class="footer_profile">
            <img srcset="" alt="Full logo" src="img/sample.png">
        </picture>
        <div class="ballon">
            DevOps를 향한 여정 중 입니다!
        </div> 
    </div>
    <div class="social-icons">
        <div class="social-icon-box"><a href="https://github.com/shiverlog"><img src="https://simpleicons.org/icons/github.svg" alt="GitHub"></a></div>
        <div class="social-icon-box"><a href="https://gitlab.com/shiverlog"><img src="https://simpleicons.org/icons/gitlab.svg" alt="GitLab"></a></div>                    
        <div class="social-icon-box"><a href="https://instagram.com/shiverlog"><img src="https://simpleicons.org/icons/instagram.svg" alt="Instagram"></a></div>
        <div class="social-icon-box"><a href="https://blog.naver.com/shiverlog"><img src="https://simpleicons.org/icons/naver.svg" alt="Naver Blog"></a></div>
        <div class="social-icon-box"><a href="https://shiverlog.com"><img src="https://simpleicons.org/icons/wordpress.svg" alt="WordPress Blog"></a></div>
        <div class="social-icon-box"><a href="https://www.linkedin.com/in/shiverlog"><img src="https://simpleicons.org/icons/linkedin.svg" alt="LinkedIn"></a></div>
        
        <div class="social-icon-box"><a href="mailto:shiverlog@outlook.com"><img src="https://simpleicons.org/icons/microsoftoutlook.svg" alt="Outlook"></a></div>
        <div class="social-icon-box"><a href="mailto:shiverlog@gmail.com"><img src="https://simpleicons.org/icons/gmail.svg" alt="Gmail"></a></div>
    </div>
    <div class="copyright">
        <p>Copyright 2024 &copy; Shiwoo. Min All rights reserved.</p>
    </div>
</footer>