<header class="header">
    <nav class="navbar" id="nav">
        <div class="navbar-toggler">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a class="nav-brand" href="./index.html">
            <div class="nav-logo">
                <img class="logo" src="assets/img/chamsae.png" alt="Logo">
                <h1 class="nav-brand-name">Like a Chamsae</h1>
            </div>
        </a>
        <div class="menu">
            <div class="nav">
                <ul id="nav-menu">
                    <li class="has-submenu">
                        <a>🌟 About</a>
                        <ul class="submenu">
                            <!-- about -->
                            <li><a href="#about" data-position="about">😊 About Me</a></li>
                            <li><a href="#skill" data-position="skill">🛠️ Skills & Abilities</a></li>
                            <li><a href="#experience" data-position="experience">💼 Experience</a></li>
                            <li><a href="#activity" data-position="activity">🏆 Activity</a></li>
                            <li><a href="#education" data-position="education">🎓 Education</a></li>
                            <li><a href="#qualifications" data-position="qualifications">📜 Qualification</a></li>
                        </ul>
                    </li>
                    <li><a href="#portfolio" data-position="portfolio">🧑‍💻 Portfolio</a></li> 
                    <li><a href="#gallery" data-position="gallery">🖼️ Gallery</a></li>
                    <li><a href="#contact" data-position="contact">💗 Contact</a></li>                     
                </ul>
            </div>
        </div>
    </nav>
</header>
