<header class="header">
    <nav class="navbar" id="nav">
        <div class="navbar-toggler">
            <span class="navbarToggler">
        </div>
        <a class="nav-brand" href="./index.html">Like A Chamsae</a>
        <div class="menu">
            <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <div class="nav">
                <ul id="nav-menu">
                    <li><a href="#about" data-position="about">About Me</a></li>
                    <li><a href="#portfolio" data-position="portfolio">Portfolio</a></li>
                    <li><a href="#career" data-position="career">Career</a></li>
                    <li><a href="#achievements" data-position="achievements">Achievements</a></li>
                    <li><a href="#qualifications" data-position="qualifications">Qualifications</a></li>
                    <li><a href="#gallery" data-position="gallery">Gallery</a></li>
                    <li><a href="#contact" data-position="contact">Contact</a></li>                               
                </ul>
            </div>
        </div>
    </nav>
</header>