<section class="hero">
    <div class="chevron-wrap"> 
        <div class="chevron-contents">
            <div class="chevron_1"></div>
        </div>
        <div class="chevron-contents">
            <div class="chevron_2"></div>
        </div>
        <div class="chevron-contents">
            <div class="chevron_3"></div>
        </div>
        <div class="chevron-contents">
            <div class="chevron_4"></div>
        </div>
        <div class="chevron-contents">
            <div class="chevron_5"></div>
        </div>
    </div>
    <div class="arrow-btn right-btn">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <div class="arrow-btn left-btn">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="chevron-btn">
        <div class="radio-wrap">
            <label>
                <input type="radio" name="radio-group" data-slide-index="0">
                <span class="radio-line"></span>
            </label>
            <label>
                <input type="radio" name="radio-group" data-slide-index="1">
                <span class="radio-line"></span>
            </label>
            <label>
                <input type="radio" name="radio-group" data-slide-index="2">
                <span class="radio-line"></span>
            </label>
            <label>
                <input type="radio" name="radio-group" data-slide-index="3">
                <span class="radio-line"></span>
            </label>
            <label>
                <input type="radio" name="radio-group" data-slide-index="4">
                <span class="radio-line"></span>
            </label>
        </div>
        <div class="btn-wrap">
            <div class="play-btn active"><i class="fa-solid fa-play"></i></div>
            <div class="paused-btn"><i class="fa-solid fa-pause"></i></div>
        </div>
    </div>
</section>